<li>
    <% config.theme.side_links.forEach(function(side) { %>
	<% if(config.theme.side_links.length!=1){%>
    <strong class="fold"><%= side.name %></strong>
	<%}else{%>
	<strong><%= side.name %></strong>
	<%}%>
    <ul>
        <% side.links.forEach(function(link) { %>
            <li><a href="<%= link.link %>"><%= link.name %></a></li>
        <% }) %>
    </ul>
    <% }) %>
</li>
